<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>E&E</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/main.css'>
    <script src='main.js'></script>
</head>

<body>
    <header>
        <div id="header-logo">
            <img id="logo" src="../assets/Epic & Eventually.png" alt="" width="300" height="270 ">
            <div id="botoes">
                <a href="/leiloes"><button>Leilões</button></a>
                <a href="/shows"><button>Shows</button></a>
                <a href="/workshops"><button>Workshops</button></a>
                <a href="/cultura"><button>Cultura</button></a>
            </div>
            
    </header>

    <div class="carrossel">
        <ul>
            <li><img src="../assets/Evento 1.png" alt=""></li>
            <li><img src="../assets/Evento 2.png" alt=""></li>
            <li><img src="../assets/Evento 3.png" alt=""></li>
        </ul>
    </div>

    <div class="cards">
        <div id="card">
            <p>
                Epic e Eventually é o seu portal para eventos locais, destacando workshops, shows, leilões e mais, tudo
                em um formato conciso e fácil de navegar. É o recurso ideal para se manter informado e envolvido com o
                que está acontecendo na sua região.
            </p>
        </div>
        <div id="card">
            <p>
                Para visualizar os eventos disponíveis no seu país e na sua região , clique em qualquer um dos botões
                para acessar a página correspondente.
            </p>
        </div>
    </div>

    <footer>
        <p>
            ©  2024 - IFPE
        </p>
    </footer>

</body>


</html>